h1.logo{
    font-family: var(--invision-logo-font);
    font-size: var(--invision-logo-font-size);
    line-height: var(--invision-logo-line-height);
    color: var(--invision-logo-color);
    font-weight: var(--invision-logo-font-weight);
}