:root {
    --color-black: #000000;
    --color-grey : #707070;
    --color-green: #A9C5BA;
    --color-white: #ffffff;

    --font-avenir: Metropolis;
    --font-multi : Muli;


    --invision-logo-font-weight: bold;
    --invision-logo-font-size  : 35px;
    --invision-logo-line-height: 48px;
    --invision-logo-color      : #000000;
    --invision-logo-font       : Metropolis;

    --page-title-font-weight: normal;
    --page-title-font-size  : 30px;
    --page-title-line-height: 48px;
    --page-title-color      : #707070;
    --page-title-font       : Muli;

    --slider-background-color: #A9C5BA;

    --slider-title-font       : Muli;
    --slider-title-font-size  : 30px;
    --slider-title-line-height: 38px;

    --slider-text-font       : Muli;
    --slider-text-font-size  : 20px;
    --slider-text-line-height: 25px;

    --link-font-weight: normal;
    --link-font-size  : 14px;
    --link-line-height: 18px;
    --link-color      : #707070;
    --link-color-error: #ff0000;
    --link-font       : Muli;

    --form-padding                  : 50px 110px;
    --form-padding-mobile           : 25px;
    --form-logo-margin-bottom       : 73px;
    --form-title-margin-bottom      : 73px;
    --form-submit-button-padding-top: 20px;
    --subsections-padding-bottom    : 30px;

    --basic-text-font            : Multi;
    --basic-text-font-size       : 14px;
    --basic-text-line-height     : 20px;
    --basic-text-color           : #707070;
    --basic-text-link-font-size  : 16px;
    --basic-text-link-line-height: 20px;


}