.divider {
    --divider-color: #00000029;
    --divider-font: Muli;
    --divider-text-color: #707070;
    --divider-font-size: 14px;
    --divider-line-height: 18px;

    display: flex;
    align-items: center;
    text-align: center;
    color: var(divider-text-color);
    font-family: var(--divider-font);
    font-size: var(--divider-font-size);
    line-height: var(--divider-line-height);



    &::before, 
    &::after {
        content: '';
        flex: 1;
        border-bottom: 1px solid var(--divider-color);
    }
    &::before {
        margin-right: .25em;
    }
    &::after {
        margin-left: .25em;
    }

}